KC_DB_URL=postgresql://postgres:5432/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak
KC_HOSTNAME=postgres

GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=postgres:5432
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=gitea

GTS_HOST=perl.social

PG_DATABASE_LIST=keycloak gotosocial gitea

PG_DB_USER_keycloak=keycloak
PG_DB_PASS_keycloak=keycloak

PG_DB_USER_gotosocial=gotosocial
PG_DB_PASS_gotosocial=gotosocial

PG_DB_USER_gitea=gitea
PG_DB_PASS_gitea=gitea
