TIMEZONE="America/New_York"
HOSTNAME="smtp.perl.social"
DOMAIN_NAME="perl.social"
MESSAGE_SIZE_LIMIT="10240000"
AUTH_USER="user"
AUTH_PASSWORD="password"
DISABLE_SMTP_AUTH_ON_PORT_25="true"
ENABLE_DKIM="true"
DKIM_KEY_LENGTH="2048"
DKIM_SELECTOR="default"