gitea.perl.social {
  encode zstd gzip
	reverse_proxy gitea:3000
	tls simcop2387@simcop2387.info { 
	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    resolvers 1.1.1.1
	}
}

kc.perl.social {
  encode zstd gzip
	reverse_proxy {
		to https://keycloak:443
		transport http {
			tls
			tls_insecure_skip_verify
		}	
	}

	tls simcop2387@simcop2387.info { 
	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	  resolvers 1.1.1.1
	}
}

perl.social, www.perl.social {
  encode zstd gzip

  reverse_proxy {
    to http://friendica
  }

  tls simcop2387@simcop2387.info { 
	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    resolvers 1.1.1.1
	}
}

## perl.social {
##   encode zstd gzip
## 
##   reverse_proxy {
##     to http://gotosocial:8080
##   }
## 
##   tls simcop2387@simcop2387.info { 
## 	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
##     resolvers 1.1.1.1
## 	}
## }
## 
## pinafore.perl.social {
##   encode zstd gzip
## 
##   reverse_proxy {
##     to http://pinafore:4002
##   }
##   
##   tls simcop2387@simcop2387.info { 
## 	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
##     resolvers 1.1.1.1
## 	}
## }
## 
## gts.perl.social {
##   encode zstd gzip
## 
##   reverse_proxy {
##     to http://gotosocial:8080
##   }
## 
##   tls simcop2387@simcop2387.info { 
## 	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
##     resolvers 1.1.1.1
## 	}
## }
